[2018-03-15 16:04] TinoDidriksen opened #1 "apertium-tat.tat.mb.rlx must be installed"
tat-eng errors out with:
`make[1]: *** No rule to make target '/usr/share/apertium/apertium-tat/apertium-tat.tat.mb.rlx', needed by 'tat-eng.mb.rlx.bin'.  Stop.`

`apertium-tat.tat.mb.rlx` was added to the project and dependents, but isn't part of the install target. Must be added to install.

[2018-04-13 20:42] ftyers opened #2 "Error transducer has weird behaviour with lttoolbox"
Some extra strings seem to be added to the transducer, e.g. `Татарстан<np><top><attr><err_orth>` which is not in the original.

[code]

Compare to `hfst-lookup`:

[code]

The extra strings can be easily removed with some CG rules for the `<err_orth>` tag, but they are undesirable for the model in general.

[2018-04-13 21:12] IlnarSelimcan commented on #1
Should be fixed now: https://github.com/apertium/apertium-tat/commit/2adb08ed0e6dc30398676105e60f11b6dfcb82ed

[2018-07-10 18:38] ftyers opened #3 "Verb form аера not analysed"
Trying to analyse the following sentence: "Көньяк чик башта Ур муенын кисеп үтә, Каркинит култыгын, аннан соң Кара диңгез буйлап бара, аннан Адлер янында тауларга күтәрелә һәм Зур Кавказның Субүләр сырты буенча Русияне Гөрҗистаннан һәм Азәрбайҗаннан аера."

[code]

@jonorthwash any ideas? We've tried a few hacks, but kept messing up other stuff :)

[2018-07-10 19:28] ftyers opened #4 "Vowel harmony issues with some nouns"
Trying to analyse the sentence: "Төньякта Русия киң фронт белән Төньяк Боз океаны диңгезләренә чыга."

Looks like another vowel harmony problem, could be related to #3.

[code]

This is also not working: _көньяктарак_ ... we're going to add `{ъ}` for now, but is that a permanent solution, @jonorthwash ?

[2018-07-10 19:45] ftyers opened #5 "Locative and dative can take comparative suffix sometimes"
`өстәрәк`

e.g. in:

Елга Ница елгасының уң ярына тамагыннан 126 км өстәрәк кушыла.

From the frequency list:

[code]

[2018-07-11 04:58] jonorthwash commented on #3
Try it now?

[2018-07-11 05:00] jonorthwash commented on #5
Are these real locative forms, or are they fixed adverbial and adjectival forms?

Also, where do you see dative forms?

[2018-07-11 05:03] jonorthwash commented on #1
@TinoDidriksen, could you confirm that this is fixed?

[2018-07-11 07:19] TinoDidriksen commented on #1
Yup, seems fixed. Dunno why I didn't notice the other comment.

[2018-07-11 07:19] #1 closed

[2018-07-11 15:57] IlnarSelimcan opened #6 "Add transliteration"
Tatar Wikipedia is written in both Latin and Cyrillic script.

[2018-07-13 17:39] ftyers opened #7 "Support -чA adverbialising suffix"
E.g. in: *Бер легендача, каргыраа дөя үрчетүчеләрдә барлыкка килгән.*

[2018-07-13 17:43] ftyers commented on #3
@jonorthwash works now, thanks!

[code]

[2018-07-13 17:43] #3 closed

[2018-07-13 19:53] IlnarSelimcan commented on #7
apertium-tat$ echo "легендача" | apertium -d . tat-morph
^легендача/легенда<n><advl>$^./.<sent>$

Done in b4589d9bcbbd74b28c1584e6488f2f7a799ba3bc.

[2018-07-13 21:40] ftyers commented on #7
@IlnarSelimcan we should make issues for this in other Turkic langs too.

[2018-07-14 03:07] jonorthwash commented on #7
Uhh, this doesn't look like what we want....

[2018-07-14 09:46] ftyers opened #8 "The form ноябрендә doesn't work."
Probably an issue in twol:

[code]

[2018-07-14 17:30] ftyers opened #9 "Change <px> to <gen><subst>"
In other Turkic languages we have -NIKI / -nInki / etc. as `gen.subst` but in Tatar it's still `px`.

[2018-07-15 09:20] ftyers commented on #7
The tag should be `<equ>` I think.

[2018-07-19 16:34] IlnarSelimcan opened #10 "^үзегез/үз<prn><ref><px2sg><frm><nom>/ analysis doesn't make much sense"
selimcan@patroclus:~/src/apertium-all/apertium-languages/apertium-tat$ echo "үзегез" | apertium -d . tat-morph
^үзегез/үз<prn><ref><px2pl><nom>/үз<prn><ref><px2pl><frm><nom>/үз<prn><ref><px2sg><frm><nom>/үз<prn><ref><px2pl><nom>+и<cop><aor><p3><pl>/үз<prn><ref><px2pl><nom>+и<cop><aor><p3><sg>/үз<prn><ref><px2pl><frm><nom>+и<cop><aor><p3><pl>/үз<prn><ref><px2pl><frm><nom>+и<cop><aor><p3><sg>/үз<prn

[2018-07-19 17:21] #9 closed

[2018-07-19 17:21] IlnarSelimcan commented on #9
Done in c32193b89e46056eb97bbe73f2b68baf0f00f697.

[2018-07-19 19:43] ftyers opened #11 "Missing optional form for фонарьны"
[code]

But:

[code]

Perhaps the harmony rule for `{I}` needs to be changed ? @jonorthwash ?

[2018-07-21 14:41] IlnarSelimcan commented on #7
@jonorthwash what do you think?

[2018-07-21 14:45] jonorthwash commented on #7
Something like `<eqi>` makes more sense to me than considering it just some advl form of a noun (note that a number of other cases are used advlly too).  What do the grammars call it?  (My impression is that many treat it as derivation—whereas we're basically saying it's a case—but there may still be useful names...)

[2018-07-21 15:02] IlnarSelimcan commented on #7
It's called 'equative' at least in Lewis' grammar. I also think that it makes more sense than <advl>, since the latter initially was only used for zero derivation kind of stuff.

меніңше etc should also be analysed as <equ> imho.

[2018-07-21 15:10] jonorthwash commented on #7
?

[2018-07-21 17:03] IlnarSelimcan commented on #7
Pardon me, didn't realise that the tags in angle brackets didn't get displayed :)

[2018-07-21 17:21] jonorthwash commented on #7
Is it treated as a case, or a derivation, or something else?

Agreed.

It might be worthwhile to note that forms like мөселманча and the like are (or feel to me, at least) attributive first, and then made adverbial.  Obviously we don't want something like `n.attr.advl`, but this is worth noting, since I think only nouns that that can be `<attr>` can be `<eqi>`.

[2018-07-22 09:42] ftyers commented on #7
We could treat it like we do the other pseudo-derivational suffixes, e.g. _-сыз_/_-лы_, in which case we would get:

1. _меніңше_ `мен<prn><pers><p1><sg><nom>+ча<post>`
2. _легендача_ `легенда<n><nom>+ча<post>`

Or alternatively something like we treat -KI / the other cases, in which case we would get:

3. _меніңше_ `мен<prn><pers><p1><sg><equ>`,  `легенда<n><equ><advl>`
4. _легендача_ `легенда<n>

[2018-07-22 15:14] jonorthwash commented on #7
Can -ча forms even be `attr`?  My impression is that they're always `advl`.

[2018-07-22 15:18] ftyers commented on #7
@jonorthwash  I was going on what you said here:

If they can only be adverbial then I would go with just the `<equ>` analysis.

[2018-09-27 20:45] jonorthwash opened #12 "consider renaming <sim> to <equ>"
[Equative case](https://en.wikipedia.org/wiki/Equative_case) may make more sense as a label for -DAй than [similative case](https://en.wiktionary.org/wiki/similative_case).

This applies to quite a few (mostly Kypchak) transducers, including kaz and kir.

Aside from the practicality issues (such a change would take some effort, but would be doable), what are people's feelings about the linguistic

[2018-09-27 20:47] jonorthwash commented on #8
@IlnarSelimcan, does ноябрь take front-vowel endings because it has я or because it has ь or because it has яСь?  Could you think of some other nouns that match each of these patterns so that I can understand what the pattern is so that I can fix it?

[2018-09-28 15:38] mansayk commented on #8
Hi!

According to Tatar orthographic dictionary (2017):

bash-4.4$ grep "рь" file.txt
алтарь, -е(на)
аптекарь, -е(на)
архипастырь, -е(на)
бәгырь, -е
библиотекарь, -е(на)
бунтарь, -е(на)
вәкарь, -е
гарь, -е
герой-шагыйрь, -е
глазурь, -е(на)
декабрь, -е
егерь, -е
инвентарь, -е(на)
календарь, -е(на)
киноварь, -е(на)
козырь, -е(на)
концлагерь, -е(на)
кустарь, -е(на)
лагерь, -е(на)
лазурь, -е(на)
лейко

[2018-09-28 16:18] mansayk commented on #12
Hi!

Currently in Tatar philology "-DAй" and "-ча/-чә" are mostly considered as
suffixes creating adverbs. Some researchers consider them as case affixes.
It is also worth to mention that words with -DAй can accept other case
affixes: "баганадайның".

According to Khisamova's monography "Tatar morphology" "-DAй" and "-ча/-чә"
create so called "Охшату-чагыштыру рәвешләре". It can be directly
transl

[2018-09-28 18:30] jonorthwash commented on #12
This implies that it's derivational and not inflectional (like -лIк or -лA), which I believe it's possible to contradict.

Yeah, so the suffix doesn't create forms which are only adverbial.  Your example is probably a substantivised (read: noun-like) use of the attributive (read: adjectival) reading.  Attributive readings of -DAй aren't entirely uncommon (at least in Kazakh and Kyrgyz).

-DAй form

[2018-09-28 18:35] jonorthwash commented on #8
Thanks, @mansayk!  Could you clarify the following points?

1. I assume that e.g. "бәгырь, -е" means that the possessive form is "бәгыре" and the plural would be "бәгырләр", right?

2. What do the forms with "(на)" mean?  E.g., "алтарь, -е(на)"

3. Most words with just яС (no ь) at the end of the word would just take -ы, right?  (Unless a front vowel precedes the я?  Here I'm thinking about words

[2018-09-28 19:03] mansayk commented on #8
1. This is correct ones: бәгырь, бәгыре, бәгырьләр. We keep "ь" when affix
begins with consonant.
2. (на) in this dictionary means that this noun accepts affixes with back
vowels: алтарь, алтаре, алтарена, алтареның.
3. Yes, you are right (but there are few exceptions "әдәбият", "нәшрият".
"әдәбияты" is correct):

bash-4.4$ grep "ят," file.txt
әбелхәят, -е
әдәбият, -ы
әкият, -е
әттәхият, -е
әһәмия

[2018-09-28 19:07] mansayk commented on #8
Also pay attention to

тәрәккыят, -е

in the list.

Am Fr., 28. Sep. 2018 um 22:03 Uhr schrieb mansur <6688000@gmail.com>:

[2018-12-09 08:09] mansayk opened #13 "Ул/Бул"
Is "Ул/бул" parsed correctly here:

echo "Ул ташламас сине." | apertium-destxt -n | lt-proc -z -w 'apertium-tat/tat.automorf.bin' | cg-proc -z 'apertium-tat/tat.rlx.bin' | apertium-retxt

^Ул/бул<v><tv><imp><p2><sg>/ул<prn><pers><p3><sg><nom>/бул<v><iv><imp><p2><sg>/ул<prn><dem><nom>$ ^ташламас/ташла<v><tv><neg><gpr_fut>/ташла<v><tv><neg><fut><p3><sg>$ ^сине/син<prn><pers><p2><sg><acc>$^./.<sent>$

[2018-12-09 09:32] IlnarSelimcan commented on #13
The бул v iv analysis was added to deal with the 19th century corpus texts I've been working on, i.e. улмак = булмак which shows up in them quite frequently. I think the way to go here is to mark all such archaic words with some flag and prune them while compiling unless the user specifies a compilation flag  which keeps them.

[2018-12-09 09:38] mansayk commented on #13
I understand. Unfortunately, in my case this one is even chosen after disambiguation.

[2019-01-16 16:12] mansayk opened #14 ""бард" instead of the most common "бар""
`^кызыксыну/кызыксыну<n><sg><sg><nom>$ ^китапның/китап<n><sg><sg><gen>$ ^соңгы/соңгы<adj>$ ^битләренә/бит<n><pl><px3sp><dat>$ ^кадәр/кадәр<post>$ ^барды/бард<n><sg><sg><px3sp><nom>$`

[2019-01-16 16:14] mansayk opened #15 "incorrect "халк" instead of "халык""
`^халкым/халк<n><sg><sg><px1sg><nom>$ ^минем/мин<n><sg><sg><px1sg><nom>$`

[2019-01-16 16:15] mansayk opened #16 ""интег" instead of "интек""
`^интегергә/интег<v><tv><inf>$`

[2019-01-16 16:17] mansayk opened #17 ""яг" instead of "як""
`^бер/бер<num>$ ^ягында/яг<n><sg><px3sp><loc>$`

[2019-01-16 16:28] mansayk opened #18 "күлә instead of күләм"
`^күләмдәге/күлә<n><sg><sg><px1sg><loc><subst><nom>$`

[2019-01-16 16:33] jonorthwash commented on #18
@mansayk, what is the context for this word, and what command did you use to get the analysis?

I believe both analyses are possible, and the transducer should return both.  If you're running it through the disambiguator (tagger) as well, then you need to provide some context for it to perform accurately—if there's no surrounding text, then it essentially just guesses.

[2019-01-16 16:41] jonorthwash commented on #13
@IlnarSelimcan, it would probably be fairly straightforward to write a disambigution rule to deal with some of these.

Alternatively, sometimes it can make sense to just treat things like бул-/ул- as synonyms, and deal with them as such in later stages for translation.

[2019-01-16 16:44] mansayk opened #19 ""алд" instead of "ал""
`^алдыннан/алд<n><sg><px3sp><abl>$`

[2019-01-16 16:49] #15 closed

[2019-01-16 16:49] #16 closed

[2019-01-16 16:49] #17 closed

[2019-01-16 16:52] jonorthwash commented on #15
So this issue as well as #16 and #17 seem to have been introduced by a bunch of nouns starting on line 23280:

[code]

Is this open source data?  It seems to be in desperate need of being checked.  There are a whole bunch of other "stems" there than end in г :(

@IlnarSelimcan, do you have any thoughts on this?

[2019-01-16 16:55] jonorthwash commented on #19
This isn't necessarily wrong.  A lemma can be anything, and here we chose the morphological root instead of the citation form.  @IlnarSelimcan, what do you think makes the most sense?

[2019-01-16 16:56] jonorthwash commented on #19
Btw, @mansayk, the `invalid` label means that an issue isn't valid and that we shouldn't pay attention to it.  I think the label you're after is just `bug`.

[2019-01-16 17:06] mansayk commented on #19
O, thank you, I didn't know that about "invalid" label.

[2019-01-16 17:09] mansayk commented on #19
About lemma, the basic form of that word is "ал" - that is a normal word with the meaning "front side" and we cannot lemmatize that word as "алд", right? I think lemma "ал" is a better choice here.

[2019-01-16 17:13] mansayk commented on #18
`echo "күләмдәге" | apertium-destxt -n | lt-proc -z -w 'apertium-tat/tat.automorf.bin' | cg-proc -z 'apertium-tat/tat.rlx.bin' | cg-proc -z -w -1 'apertium-tat/dev/mansur.bin' | apertium-retxt
^күләмдәге/күлә<n><sg><sg><px1sg><loc><subst><nom>$`

I don't remember the context of that exact case, but for example, it might be:
"Бик зур күләмдәге эш башкарылган!" ("A lot of work has been done.")

[2019-01-16 17:32] mansayk opened #20 "асфальтны is not analyzed correctly"
According to Tatar orthographical dictionary it should be "асфальтны", not "асфальтне":
http://suzlek.antat.ru/words.php?txtW=%D0%B0%D1%81%D1%84%D0%B0%D0%BB%D1%8C%D1%82&submit=%D0%AD%D0%B7%D0%BB%D3%99%D2%AF

[code]

[2019-01-16 17:34] mansayk commented on #20
The same thing here:
`echo "ательены" | apertium-destxt -n | lt-proc -z -w 'apertium-tat/tat.automorf.bin' | cg-proc -z 'apertium-tat/tat.rlx.bin' | cg-proc -z -w -1 'apertium-tat/dev/mansur.bin' | apertium-retxt
^ательены/*ательены$
root@apertium:~# echo "ательене" | apertium-destxt -n | lt-proc -z -w 'apertium-tat/tat.automorf.bin' | cg-proc -z 'apertium-tat/tat.rlx.bin' | cg-proc -z -w -1 'aper

[2019-01-16 17:42] mansayk opened #21 ""бульдог" is not analyzed in the form "бульдогка""
[code]

[2019-01-16 17:45] mansayk opened #22 "бульдозер, бульдозерында"
[code]

[2019-01-16 17:46] mansayk opened #23 "бунтарь, бунтарьлар"
[code]

[2019-01-16 17:48] mansayk commented on #23
I think this one is also connected with this case:
[code]

[2019-01-16 17:49] mansayk commented on #23
[code]

[2019-01-16 17:52] mansayk commented on #23
[code]

[2019-01-16 17:54] mansayk commented on #23
[code]

[2019-01-16 17:54] mansayk commented on #23
This list is going to be endless... So I think some rules should be fixed and it will fix other similar problems.

[2019-01-16 17:59] mansayk opened #24 "конъюнктивитны"
[code]

[2019-01-16 18:02] mansayk opened #25 "объективрак"
[code]

[2019-01-16 18:07] mansayk opened #26 "шәфәкъны"
[code]

[2019-01-16 18:10] mansayk commented on #18
And there is no word "күлә" in Tatar language and I think it should not be returned at all.

[2019-01-16 20:55] jonorthwash commented on #21
@mansayk, is the currently generated form ever attested?

[code]

[2019-01-16 21:02] jonorthwash commented on #21
Also, could you confirm the correct form(s) of each of the words below?  This is what we currently get for them:

[code]

[2019-01-16 21:03] jonorthwash commented on #22
This is what we currently get.  Can it ever be considered a possible form?

[code]

[2019-01-16 21:06] #22 closed

[2019-01-16 21:10] jonorthwash commented on #19
@IlnarSelimcan, what do you think?  I'm happy either way, and it's trivial to change, but I want to make sure there wasn't a reason it's алд.  Possibilities that come to mind are for translation: that as алд there's no possibility of confusion with the adjective(?), verb, and auxiliary ал.

[2019-01-16 21:13] jonorthwash commented on #23
@mansayk, Could you make a short table like this for all the examples you find?  It'll help me sort out what the problems are.

analysis | expected form | current form
-----------|-------------------|-----------
`бунтарь<n><sg><nom>` | бунтарьләр | #бунтарь

[2019-01-16 21:32] jonorthwash commented on #20
So we should definitely generate асфальтны, but should we analyse both forms?  That is, is асфальтне attested commonly enough?

(Btw, the dictionary link doesn't show any relevant information when I click on it.)

[2019-01-16 21:35] jonorthwash commented on #20
Also, can you confirm how nouns that end in ль behave, like роль, руль, автомобиль?  What about words that end in бль, like рубль, ансамбль, etc.?

[2019-01-17 06:55] mansayk commented on #21
Hi!
"бульдогга" is not correct, should be "бульдогка"
багажга - correct
клубга - not correct, should be "клубка"
гидгә - not correct, should be "гидка"
мотивгә - not correct, should be "мотивка"
гипофизгә - not correct, should be "гипофизга"

[2019-01-17 07:07] mansayk commented on #23
Analysis for base form | correct form that not analyzed
-----------------------------|---------------------------------------
`^бунтарь/бунтарь<n><sg><nom>$` | `^бунтарьлар/*бунтарьлар$`
`^валерьян/валерьян<n><sg><nom>$` | `^валерьянны/*валерьянны$`
`^варенье/варенье<n><sg><nom>$` | `^вареньегыз/*вареньегыз$`
`^декольте/декольте<n><sg><nom>$` | `^декольтесы/*декольтесы$`
`^дельфин/дельфин<n><sg><n

[2019-01-17 07:16] mansayk commented on #20
Some people of course can write "асфальтне", but it will be spelling mistake. If we analyze both forms, than it will also affect apertium's spellchecker.

Although that spellchecker doesn't already work as expected because of many archaic and dialect words in the dictionary, that's why I think we should add some 'Orth' tag for "good" words in the dictionary and spellchecker would use only them...

[2019-01-17 07:37] mansayk commented on #20
Most of them have affixes with front vowels, but there might be exceptions. For example, correct ones:
рольдән
рульдән
автомобильдән
ансамбльдән
but
акропольдан (I don't know why, but http://suzlek.antat.ru/words.php?txtW=%D0%B0%D0%BA%D1%80%D0%BE%D0%BF%D0%BE%D0%BB%D1%8C&submit=%D0%AD%D0%B7%D0%BB%D3%99%D2%AF)

[2019-01-17 07:40] mansayk commented on #20
And some more:
фасоль, фасолена
декольте, декольтесы
кольт, кольты
вольт, вольты

[2019-01-17 09:17] mansayk opened #27 "Affixes after quotes"
Hello!

There is a problem that is typical for texts in Tatar language. It is about using quotes and affixes, for example,
[code]

And Apertium's tagger doesn't process them correctly:
[code]

So I want to ask is there any possible way to make tagger to recognize those cases. They are very typical for Tatar texts. Some examples from corpus:
[code]

[2019-01-18 04:10] jonorthwash commented on #27
That must be a huge corpus!

I can think of a few ways to approach this problem, but let's hear what @ftyers suggests.

[2019-01-18 04:21] jonorthwash commented on #23
Could you add the currently output forms to the table too?  This is important for sorting the patterns that need to be fixed.

[2019-01-18 04:33] jonorthwash commented on #20
The dictionary urls aren't giving me any information of the sort you seem to be describing:
![screenshot from 2019-01-17 23-30-42](https://user-images.githubusercontent.com/963849/51365802-293de800-1ab0-11e9-8cbf-be8665407ce6.png)

[2019-01-18 04:33] jonorthwash commented on #20
The dictionary urls aren't giving me any information of the sort you seem to be describing:
![screenshot from 2019-01-17 23-30-42](https://user-images.githubusercontent.com/963849/51365802-293de800-1ab0-11e9-8cbf-be8665407ce6.png)

[2019-01-18 04:36] jonorthwash commented on #20
Do Russian words ending in ‹е› generally take back vowel endings?  That is, is this part of a larger pattern, or is it an exception?

[2019-01-18 05:00] jonorthwash commented on #20
Related issue: we have the lexicon set up to do both ноябрьдә and ноябрьда.  Which is correct?

[2019-01-18 05:02] jonorthwash commented on #20
Also, is it январенда or январендә?  Once I got фасоленда working, январендә is now being produced as январенда.  I'll hack it to only work with оль words for now, but this will need to be investigated.

[2019-01-18 05:07] jonorthwash commented on #11
So we have
[code]

Wonderful.

[2019-01-18 05:09] jonorthwash commented on #11
So we're just going to say that фонарь is an exception and gets back vowel endings...

[2019-01-18 05:10] #11 closed

[2019-01-18 05:26] #25 closed, assigned to nobody

[2019-01-18 05:34] jonorthwash commented on #4
Yes, I believe that's the correct permanent solution in this case.  Other words of this shape would almost definitely take front-vowel endings.  The reason this word doesn't is because it's a compound, which isn't really reflected in the spelling.

[2019-01-18 05:35] jonorthwash commented on #4
Is that answer all that's needed to close this issue?

[2019-01-18 05:39] jonorthwash commented on #20
Actually, we do the reverse.  We add a tag `<err_orth>` for words that are attested but are considered orthographic errors, and we just automatically remove them when we generate the spell checker.  So what we want (and as of eb360c7 now get) is the following:
[code]

Have a look at the commit—with knowledge of how the word-class categorisation works, it's pretty simple to do for many words.

[2019-01-19 11:00] mansayk commented on #20
"Акрополь" is strange. You can search for that word here:
http://suzlek.antat.ru
And it finds it.

[2019-01-19 11:02] mansayk commented on #20
According to the aforementioned website the correct one is "ноябрьдә".

[2019-01-19 11:03] mansayk commented on #20
And also it says, the correct one is "январенда".

[2019-01-19 11:07] mansayk commented on #20
"фасоль"
- correct "фасолена" according to orthographical dictionary.
- correct "фасольгә" according to explanatory dictionary.
So, it turned out both of them can be treated as correct?

[2019-01-19 11:16] mansayk commented on #20
I cannot right now say it explicitly, but I think you are right. All words that came to my mind have endings with back vowels: ришельесы, ательесы, льесы, подпольесы.

[2019-01-19 11:35] mansayk commented on #27
This "Corpus of Written Tatar" (356 mln word occurences) was used:
http://www.corpus.tatar/en

[2019-01-19 11:50] mansayk commented on #23
Analysis for base form | correct form that not analyzed
-----------------------------|---------------------------------------
`^валерьян/валерьян<n><sg><nom>$` | `^валерьянны/*валерьянны$`
`^шәфәкъ/шәфәкъ<n><sg><nom>$` | `^шәфәкъны/*шәфәкъны$`
`^шәфәкъ/шәфәкъ<n><sg><nom>$` | `^шәфәгы/*шәфәгы$`

[2019-01-19 22:09] jonorthwash commented on #23
Could you test what the currently output forms are for those?  I can do it too, but this is something that will be useful for you in the future.

[2019-01-20 08:13] mansayk commented on #23
I'm sorry, could you give me an example?

[2019-01-22 20:58] mansayk opened #28 ""китаб" instead of "китап""
@IlnarSelimcan, I commented the lemma "китаб" (only "китап"), because it is not valid in modern Tatar language. If you want to use it for some old texts, maybe there are some special markers to exclude them from compiling in regular mode. I'm sure there are other archaic/historical words that we should take care of.
@jonorthwash, @ftyers, what is the best way here?

[2019-01-23 16:19] jonorthwash commented on #28
I think the `<err_orth>` approach might make sense for archaic forms?  Or should we do something different?

[2019-01-23 16:21] ftyers commented on #28
I think `err_orth` would be ok, or maybe `use_arch` ?

[2019-01-23 16:28] mansayk commented on #28
So, I make it this way in lexc file:
китаб:китаб N1 ; ! "use_arch"
or
китаб:китаб N1 ; ! "err_orth"
right?

[2019-01-23 16:36] ftyers commented on #28
[code]

[2019-01-23 16:55] ftyers commented on #28
@mansayk what should the result be ?

[2019-01-23 16:58] mansayk commented on #28
Let's suppose we have word "китабым". And as lemma I get "китаб" instead of correct "китап". And additional tag <err_orth> here won't help, because I don't get correct lemma. I need to remove these words (marked as Err/Orth or Use/Arch) from analyze at all.

[2019-01-25 19:27] mansayk opened #29 "Loanwords after marking them"
Hello!

I made quite big commit:
https://github.com/apertium/apertium-tat/commit/185c32570735be0fbf5a520bc1df2d3e48c70098
https://github.com/apertium/apertium-tat/commit/b5db00faafd6ec1ecef9c75148d65c1d4f3a01f4
where I marked about 3800 loanwords. After that they are not processed in analysis. Could you tell me what is wrong there?

[2019-01-26 20:39] mansayk opened #30 "Rule conflicts"
There are 2 rule conflicts:

[code]

[code]

[2019-01-27 20:20] jonorthwash commented on #30
I don't think this is actually a bug, as these conflicts probably don't affect much.  I'll take a look at it at some point soon, though—I can probably clear up the issue.

[2019-01-27 20:47] jonorthwash commented on #29
As far as I can tell, they are getting marked in the analysis.

[code]

Or else, maybe I don't understand the problem.

Also, note that you don't need `%{☭%}` on the right side of a given entry if it's categorised as `N1-RUS`.  That is, you should change a line like
[code]
to just
[code]
.  The reason is that the `N1-RUS` definition already contains `%{☭%}`.  This will result in two `%{☭%}`s in th

[2019-01-27 20:51] jonorthwash commented on #28
@ftyers, @mansayk, you seem not to be communicating well.  Let me try to help...

@mansayk, I believe that the `Use/Arch` functionality does not yet exist, and @ftyers is offering to implement it.  If it were to work as expected, I believe the correct entry would be the following:
[code]

@ftyers, I believe you'd want the output of analysis to be something like the following.  @mansayk, could you

[2019-01-27 20:55] jonorthwash commented on #23
@mansayk, I edited the first line of the table to a much more useful format.  Could you convert the other lines to this format?

[2019-01-27 20:56] jonorthwash commented on #18
@IlnarSelimcan, do you know why күлә is in the transducer?

[2019-01-27 21:00] jonorthwash commented on #30
Also note that it's only one rule conflict; it just surfaces differently when the twol transducer is compiled in different ways.

[2019-01-28 07:32] mansayk commented on #28
Yes,
`^китаб/китап<n><sg><nom><use_arch>$`
seems good for me. It gives correct lemma and has special tag 'use_arch'.

[2019-01-28 07:34] mansayk commented on #18
I just saw your message in another threat about Use/Arch not being implemented yet. So my previous question has an answer now.

[2019-01-28 07:47] mansayk commented on #29
It seems that adjectives don't have A1-RUS form, how should I mark them? And what about NP-TOP, NP-ANT-M, NP-COG-OB?.. Maybe it is better to leave the following form?
[code]

[2019-01-28 16:51] jonorthwash commented on #29
I would say it's better to use `N1-RUS` for nouns.  For other parts of speech you can either make separate categories in the same way as `N1-RUS` or hard-code them like you have them.

One big advantage of having a separate category—besides not having to type/copy `%{☭%}` a lot—is that it will make it a lot easier to implement `<err_orth>` tags for forms that are spelled as if the words were not f

[2019-01-28 19:19] mansayk commented on #29
I did that, I added -RUS to many categories, for example, A1-RUS, NP-TOP-RUS... Please take a look. I hope everything is correct.

[2019-01-29 15:08] mansayk opened #31 "-RUS tag vs -RUS-BACK and -RUS_FRONT"
Hi!

I fixed 2 twol rules, because some cases didn't work, for example, часть, частьны, частька.
https://github.com/apertium/apertium-tat/commit/79a5b1aa923d81cea58b47316e7f1dac9d8b68cf

Currently we marked with RUS tag only those loanwords, that accept affixes with back vowels. That means, that we cannot mark with RUS tag loanwords accepting affixes with front vowels. What is the best solution he

[2019-01-29 15:42] mansayk opened #32 "гыйнвар:январь"
Hi!
[code]
Is it correct? I think they should be considered as different words. And how to mark it here, because гыйнвар is adopted Tatar word, январь is a Russian loanword?

[2019-01-29 16:53] jonorthwash commented on #31
Russian words that take front-vowel endings all have front vowels in their final syllables or end in palatalised consonants, right?  Which means they trigger normal Tatar front-vowel endings [more or less] just like native Tatar words?  If this is the case, then just use the normal word classes, like `N1`.  This "default" precludes the need for a separate lexicon.  Are there any examples that won'

[2019-01-30 09:54] mansayk opened #33 "поши, пошиең"
Hi!

The correct 3rd person possession form of "поши" is "пошие" (пошиең, пошиемны...). But currently it is processed as "пошисы", what I think is not correct, @IlnarSelimcan, right?

It also applies to other words ending with "и": тарихи (тарихиена, тарихисы?), бриджи (бриджиен, бриджисы?), гади (гадиен), песи (песиең), ралли (раллиена, раллисы?), verb ки (киеп)...

The form -сы is also used in s

[2019-01-30 09:57] mansayk commented on #31
I made a test based on words collected from the corpus:
https://github.com/apertium/apertium-tat/tree/master/tests-tatcorpus
It can help to control regression.

[2019-01-30 18:40] mansayk commented on #33
I created that file with some rules:
https://github.com/apertium/apertium-tat/commit/c1f843a8e32332e5007f6740c115648894fe5226

[2019-01-30 18:47] jonorthwash commented on #33
Could you add the абый, сеңел, and зур examples too?  For analyses that have multiple "correct" forms, you can put two lines.

[2019-01-30 19:23] mansayk commented on #31
Actually it is not for testing, but to control effect of code changes in a big dictionary. You don't need to use it, but I will use it to find new words and to see changes in words that are not in yaml files yet.

[2019-02-01 09:07] mansayk commented on #33
@jonorthwash could you fix twol rules according to this table, please?

Base form | Current    | Correct
--------------|--------------|--------
поши         | пошисы      | пошие
тарихи       | тарихисы    | тарихие
гади       | гадисе      | гадие
песи       | песисе      | песие
ки         | -           | киеп
музей      | музейе      | музее
ансамбль   | -           | ансамбле
гаеп       | гаеп

[2019-02-01 20:14] jonorthwash opened #34 "corpus data in tests-tatcorpus"
It's not clear to me that the corpus data in `tests-tatcorpus/` should stay there.  Things I worry about:
* **Licensing of the data**: where's it from / is the license compatible with the rest of the repository.
* **Size**: the data is pretty big, whereas most of the rest of the repo is not.
* **Relevance**: this repo is for the analyser (and tests to maintain it, offshoots, experiments, etc.), no

[2019-02-01 20:32] mansayk commented on #34
Hi!

The tests-tatcorpus directory contains just a list of words, that I collected from the Corpus of Written Tatar. It can be used to:
1) see effect of code changes;
2) collect words unknown to analyser and add it to .lexc file.

I'd like to keep it there so Ilnar also could use it. If you think it is better to remove it from repository, I will do it immediately.

Thank you!

[2019-02-01 20:37] jonorthwash commented on #34
@IlnarSelimcan, @ftyers, what do you two think?  I think using something like this for regression testing is good, but I still have the licensing concern (maybe less than originally) and the size concern.

[2019-02-01 20:38] mansayk commented on #34
Size can be reduced 2 times, because not all of those files are necessary: one of them just backup, another can be generated.

[2019-02-01 20:41] TinoDidriksen commented on #34
This repo is already 360 MiB in size. It's not enough that you delete a file - it's still part of the cloned data. Anything you add is part of the repo's history forever. Those big files should be removed and purged from history with a rewrite.

Of the 145 repos I track, it's in the top 15 size-wise.

[2019-02-01 20:45] mansayk commented on #34
Ok, I understand, I will remove those files right now and please help me purging them from history.

[2019-02-01 21:14] mansayk commented on #34
I removed the files, but I don't know how to purge them from repo's history. @TinoDidriksen could you, please, help me with that?

[2019-02-02 16:49] mansayk commented on #34
@TinoDidriksen thank you so much for your help!

@jonorthwash I will keep that test files locally and I will use it periodically. If I find any regression then I will create an issue(s) + add some new rules to existing tests, ok? If you have a better idea, please, let me know. Thank you.

[2019-02-10 01:00] IlnarSelimcan commented on #4
That's a question to @ftyers , I think :)

[2019-02-14 14:23] mansayk commented on #32
I fixed it as two separate words. Thank you.

[2019-02-14 14:23] #32 closed

[2019-02-14 14:24] #31 closed

[2019-02-14 14:24] #30 closed

[2019-02-14 14:25] #29 closed

[2019-02-15 08:30] #26 closed

[2019-02-15 08:35] #23 closed

[2019-02-15 08:40] #20 closed

[2019-02-15 09:01] mansayk commented on #19
Closed https://github.com/apertium/apertium-tat/commit/4395924f38242b856e7ad15399005930aaca7c50

[2019-02-15 09:05] mansayk commented on #18
I disabled this word temporarily.

[2019-02-15 09:05] #18 closed

[2019-02-15 10:19] mansayk commented on #8
I fixed all of these

[2019-02-15 10:19] #8 closed

[2019-02-15 10:26] mansayk commented on #5
Locative
[code]
Ablative
[code]
Dative
[code]

[2019-02-15 10:29] mansayk commented on #5
Possible:
[code]
Not possible:
[code]

[2019-02-15 10:31] mansayk commented on #4
`төньякта` is fixed, but `көньяктарак` is in another issue: #5

[2019-02-15 10:31] #4 closed

[2019-02-15 12:34] IlnarSelimcan commented on #33
Right, "пошие" is the correct form.

[2019-02-15 14:27] IlnarSelimcan commented on #5
However, I suggest adding <loc><comp>, <abl><comp> and <dat><comp> for all nouns, without trying to classify them manually. See tests/morphophonology/issue5.tsv

[2019-02-15 14:50] IlnarSelimcan commented on #19
Historically, these three have been "алд", "аст", "өст", but seem to shift more and more towards variants without д/т in all forms, at least in speech.

In forms without possessives (аска, өскә, алга, алны, алдан...), or in plural (алларына, өсләренә, асларыннан) д/т won't surface. Based on that, "ас", "өс" and "ал" seem to be more appropriate for the lemma, but I'm not sure whether we have listed

[2019-02-15 16:40] mansayk commented on #19
+1 for "ал, ас, өс", because they are orthographically correct and understandable for everyone.

[2019-02-15 16:42] mansayk commented on #5
I agree with @IlnarSelimcan.

[2019-02-15 17:06] mansayk opened #35 "Add analysis for 'дисәңче'"
I think we could add an analysis for the form 'дисәңче'. @IlnarSelimcan what do you think?

[2019-02-15 17:20] mansayk commented on #5
There is another category taking these affixes sometimes:
`кысыбрак, күтәребрәк...`
[code]

[2019-02-16 11:26] mansayk commented on #5
Some pronouns accepting this affix:
ничегрәк
болайрак
тегеләйрәк
шулайрак
алайрак

ниндирәк
шундыйрак
мондыйрак
андыйрак

безнеңчәрәк
сезнеңчәрәк
аларчарак
боларчарак
шуларчарак

[2019-02-17 11:35] mansayk commented on #5
Postpositions:
кебегрәк
буендарак
буенарак
буйлабрак
каршынарак
каршындарак
сыманрак
тибындагырак
турындарак
хакындарак
хакындагырак
шикеллерәк

[2019-02-17 11:37] mansayk commented on #5
Adverbs:
башкача
гаҗәебрәк
тирәнтенрәк
тулысынчарак
шыпыртрак
җиңелчәрәк
and many others

[2019-02-17 12:17] IlnarSelimcan commented on #5
This all belong to issue5.tsv test case.

On 17 February 2019 14:35:09 GMT+03:00, Mansur Saykhunov <notifications@github.com> wrote:

--
Простите за краткость, создано в K-9 Mail.

[2019-02-18 05:07] jonorthwash commented on #5
These aren't really pronouns—or maybe at best they're adverbial forms of pronouns.

I don't know that this is the best approach if some are truly ungrammatical.  What do the Tatar grammarians say about this?  Is there some particular distribution of which forms are okay and which aren't?

[2019-02-18 08:20] mansayk commented on #5
Currently Tatar tagger marks them as `<prn>`, for example:
[code]

[2019-02-18 18:15] IlnarSelimcan commented on #34
I think I've found a better solution for this in 6dbcb196052d84cfbde21ed2d012c384608d243c . It seems to work, but improvements are welcome.

[2019-02-18 18:19] IlnarSelimcan commented on #34
One particular thing that can be done is to split the frequency list into many and pass them through tat-morph in parallel, using GNU Parallel tool or something similar.

[2019-02-18 18:56] mansayk opened #36 "Does archaic -мак verb form accept additional affixes"
We have this statement in lxc:
[code]

For example:
[code]

I cannot remember it taking additional affixes, like case or possession:
[code]
These word forms are (were) not possible, I think.

So, maybe we can also change it as:
[code]
and make some more restrictions, right?

Am I correct here?

[2019-04-15 19:38] IlnarSelimcan opened #37 "Unrecognized numerals"
! ^алтылап/*алтылап$
! ^алтышар/*алтышар$
! ^бишләп/*бишләп$! ^алтылап/*алтылап$
! ^алтышар/*алтышар$
! ^бишләп/*бишләп$
! ^дистәләрчә/*дистәләрчә$
! ^дүртләп/*дүртләп$
! ^җиделәп/*җиделәп$
! ^җидешәр/*җидешәр$
! ^икешәр/*икешәр$
! ^йөзәрләгән/*йөзәрләгән$
! ^йөзләрчә/*йөзләрчә$
! ^меңәрләгән/*меңәрләгән$
! ^меңәрләп/*меңәрләп$
! ^меңләп/*меңләп$
! ^меңнәрчә/*меңнәрчә$
! ^миллиардларча/*миллиардла

[2019-04-15 19:59] IlnarSelimcan commented on #37
One option is to lexicalise them:
[code]

[2019-05-30 23:32] jonorthwash commented on #19
I think it makes sense to have ал, ас, and өс as the lemmas (as long as there aren't other nouns these would become ambiguous with), since they are orthographically correct on their own and are dictionary headwords.  Also, this is in line with how we treat дус.

For the record, the argument that the /d/ and /t/ don't surface when the forms are on their own (but do before a vowel) could be used for

[2019-05-31 19:59] jonorthwash commented on #33
You're saying that there are multiple correct realisations for these possessive forms, right?  If so, which should be the default (at least  for абый and сеңел)?

[2019-06-01 07:34] mansayk commented on #33
According to Tatar orthographic dictionary (2017) - **абые**,
Tatar explanatory dictionary (2013) - both **абые** and **абыйсы**.

I don't know how to choose the default one :) Personally I use **абыйсы**, **сеңлесе**. @IlnarSelimcan what do you think?

[2019-06-01 07:39] mansayk commented on #33
Maybe the default one should be that made according to rules: **абые** in this case?

[2019-06-01 22:06] jonorthwash commented on #33
I think it should be the most common one.  It'll be just as hard to implement either way—it's just a matter of which entry isn't included in the generation transducer.

[2019-06-02 08:55] mansayk commented on #33
To be frank, I cannot decide which one is the most common: **абые** or **абыйсы**. I suppose @IlnarSelimcan thinks the same way. The only possibility is to use, for example, some corpus. According to the Corpus of Written Tatar consisting of ~350 mln word occurrences:
**абые*** - 12,998 occurrences
**абыйсы*** - 20,067 occurrence
Despite the second word does not obey grammatical rules, it is used

[2019-06-03 04:48] jonorthwash commented on #33
Maybe a better criterion than "which is used more often?" would be "which do native speakers find least unexpected?"

@mansayk, you use абыйсы and it's more common in the corpus—which would argue in favour of that form.  You say you don't consider абые wrong, but is does it feel in any way less common?  Like, when you encounter it in text, does it feel jarring, old-fashioned, or somehow unusual?

[2019-06-03 06:02] mansayk commented on #33
Ok, I agree, I will take it into account next time. But the second form doesn't feel less common in any way to me: it is not old-fashioned, it is definitely not unusual, it doesn't feel jarring and as I pointed before it is used as the only form in Tatar orthographic dictionary (2017)... Personally I consider it just as an alternative form, some kind of absolute synonym. @IlnarSelimcan we really n

[2020-07-09 17:09] nlhowell opened #38 "Installed modes are missing files"
* Failed to find '/usr/share/apertium/apertium-tat/.deps/tat.twol.hfst' in install image.
 * QA: missing files required for mode tat-twol.
 * Failed to find '/usr/share/apertium/apertium-tat/tat.zhfst' in install image.
 * QA: missing files required for mode tat-spell.
 * Failed to find '/usr/share/apertium/apertium-tat/.deps/acceptor.default.hfst' in install image.
 * QA: missing files required f